<h2>Contact Us</h2>
<p>We'd love to hear from you! Call us and let us know how we can be of service!</p>
<p><strong>Address:</strong> 1234 Main St. Los Angeles, Ca  90034</p>
<p><strong>Phone:</strong> (310)555-1212</p>
<a href="https://www.golf.com">Our website</a>
